﻿@model ProjectSmartHome.Models.LoginModel

@{
	ViewBag.Title = "Вход";
}

<h2>Вход</h2>


@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()

	<div class="form-horizontal">
		@Html.ValidationSummary(true)

		<div class="form-group">
			@Html.LabelFor(model=>model.Login, "Логин", new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.Login, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.Login)
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model=>model.Password,"Пароль", new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.Password)
			</div>
		</div>


		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<input type="submit" value="Войти" class="btn btn-default" />
			</div>
		</div>

		<div class="input-div col-md-offset-2">
			<div class="btn-left">
				@Html.ActionLink("Регистрация", "Register", "Account", new { @class = "btn btn-success btn-block" })
			</div>
			<div class="btn-right">
				@Html.ActionLink("Забыли пароль", "ForgotPassword", "Account", new { @class = "btn btn-info btn-block" })
			</div>
		</div>
	</div>
}





@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}