﻿@model ProjectSmartHome.Models.RegisterModel

@{
	ViewBag.Title = "Регистрация";
}

<h2>Регистрация</h2>


@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()

	<div class="form-horizontal">
		@Html.ValidationSummary(true)

		<div class="form-group">
			@Html.LabelFor(model => model.Email, "Email", new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.Email)
			</div>
		</div>


		<div class="form-group">
			@Html.LabelFor(model => model.Login, "Логин", new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.Login, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.Login)
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.Password, "Пароль", new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.Password)
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.ConfirmPassword, "Повторить пароль", new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.ConfirmPassword)
			</div>
		</div>

		<div class="input-div col-md-offset-2">
			<div class="btn-left">
				<input type="submit" value="Зарегистрировать" class="btn btn-success" />
			</div>
			<div class="btn-right">
				@Html.ActionLink("Вход", "Login", "Account", new { @class = "btn btn-info btn-block" })
			</div>
		</div>
	</div>
}

