﻿@model IEnumerable<ProjectSmartHome.Models.Device>

@{
    ViewBag.Title = "Account";
}
@using ProjectSmartHome.Helpers 
<!--Найти куда и как подключить -->
@Styles.Render("~/Content/style.css")


<h2>Управление Домом</h2>

<p>
	<button class="DrawChart btn btn-success"  onclick="openWin('@Url.Action("AddDevice", "Home", new {name = User.Identity.Name })')">Добавить</button>   
</p>
	<div id="container">
		<div id="command" class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
			<table id="aside1" > @*class="floating"*@
				<thead>
					<tr>
						<th>
							@Html.DisplayName("Название Устройства")
						</th>

					</tr>
				</thead>

				@foreach (var item in Model)
				{
					<tr>
						<td>
							<a href="#@item.Id"  class="link Device" >@Html.DisplayFor(modelItem => item.Title)</a>

							<div class="sam"  id='@item.Id' style="display:none">
								<table>
									<tr>
										<td>
											<button class="EditDevice btn btn-warning button" value='@item.Id' onclick="openWin('@Url.Action("EditDevice", "Home",new {id = @item.Id })')">Изменить</button>
										</td>
									</tr>
									<tr>
										<td>
											<button class="DetailsDevice btn btn-info button" value='@item.Id' onclick="openWin('@Url.Action("DetailsDevice", "Home", new {id = @item.Id })')">Подробнее</button>
										</td>
									</tr>
									
									<tr>
										<td>
											<button class="Manipulate btn btn-warning button" value='@item.Id' onclick="openWin('@Url.Action("Manipulate", "Home", new { id = item.Id})')">Управление</button>
										</td>
									</tr>
									<tr>
										<td>
											<button class="Store btn btn-info button" value='@item.Id' onclick="openWin('@Url.Action("Store", "Home", new {  id = @item.Id })')">Комманды</button>
										</td>
									</tr>
									<tr>
										<td>
											<button class="DataDevice btn btn-warning button" value='@item.Id' onclick="openWin('@Url.Action("DeviceData", "Home",new {id = @item.Id})')">Показания</button>
										</td>
									</tr>
									<tr>
										<td>
											<button class="DrawChart btn btn-info button" value='@item.Id' onclick="openWin('@Url.Action("DrawChart", "Home", new { id = @item.Id})')">График</button> <!--Html.ActionLink("График", "DrawChart", new { id = item.Id })-->
										</td>
									</tr>
									<tr>
										<td>
											<button class="DeleteDevice btn btn-danger button" value='@item.Id' onclick="openWin('@Url.Action("DeleteDevice", "Home",new { id = @item.Id} )')">Удалить</button>
										</td>
									</tr>

								</table>
							</div>
						</td>
					</tr>

				}
			</table>
			<br />

			<p id="pageNum">
				@Html.PagingNavigator((int)Html.ViewData["PageNum"], (int)Html.ViewData["ItemCount"], (int)Html.ViewData["PageSize"])
			</p>

		</div>

		<div class="col-lg-8 col-md-8 col-sm-6 col-xs-6">
			<div class="DataFromRoom"></div> @*floating плавающий блок*@
		</div>
	</div>

	<!--https://habr.com/ru/post/63149/-->


@section Scripts{
	<script>
		function openWin(url) {
			$('.DataFromRoom').load(url);
		}
	</script>
}




