﻿@model ProjectSmartHome.Models.Device

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Добавить устройство</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model=>model.Title, "Название" , htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>

		<div class="form-group">
			@Html.LabelFor(model=>model.UniqueTitle, "Уникальное Название", htmlAttributes: new { @class = "control-label col-md-4" })
			<div class="col-md-8">
				@Html.EditorFor(model => model.UniqueTitle, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.UniqueTitle, "", new { @class = "text-danger" })
			</div>
		</div>


        <div class="form-group" hidden>
            @Html.TextBoxFor(model => model.UserId, new {@Value = ViewBag.UserId } )
			@Html.TextBoxFor(model => model.TimeAddDevice)
            
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Добавить" class="btn btn-success" />
            </div>
        </div>
    </div>
}

@Scripts.Render("~/bundles/jqueryval")