﻿@model ProjectSmartHome.Models.ChangePasswordViewModel
@{
	ViewBag.Title = "Смена пароля";
}

@using (Html.BeginForm("ChangePassword", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
	@Html.AntiForgeryToken()
	<h4>Форма смены пароля</h4>
	<hr />
	@Html.ValidationSummary("", new { @class = "text-danger" })
	<div class="form-group">
		@Html.LabelFor(m => m.OldPassword, new { @class = "col-md-4 control-label" })
		<div class="col-md-8">
			@Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
		</div>
	</div>
	<div class="form-group">
		@Html.LabelFor(m => m.NewPassword, new { @class = "col-md-4 control-label" })
		<div class="col-md-8">
			@Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
		</div>
	</div>
	<div class="form-group">
		@Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-4 control-label" })
		<div class="col-md-8">
			@Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
		</div>
	</div>
	<div class="form-group">
		<div class="col-md-offset-4 col-md-8">
			<input type="submit" value="Смена пароля" class="btn btn-success" />
		</div>
	</div>
}
@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}