﻿
@model IEnumerable<ProjectSmartHome.Models.User>
@using ProjectSmartHome.Helpers

@{
	ViewBag.Title = "DbUser";
}

<h2>Пользователи</h2>


	<div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">

		<input type="text" name="name" class = "form-control" id="search" /><!--https://metanit.com/sharp/mvc5/10.7.php-->
		<input type='button' class="btn btn-success" id="submit" value='Поиск' />
		<div id="results"></div>

		<table class="table" id="main">
			<tr>
				<th>
					@Html.DisplayName("Логин")
				</th>

			</tr>

			@foreach (var item in Model)
			{
				if (item.Login != User.Identity.Name)
				{
					<tr>

						<td>
							<a href="#@item.Id" class="link Device">@Html.DisplayFor(modelItem => item.UserName)</a>
						
							<div class="sam" id='@item.Id' style="display:none">
								<table>
									<tr>
										<td><button class="btn btn-info" value='@item.Id' onclick="openWin('@Url.Action("DetailsUser", "Home",new {id = @item.Id})')">Полная информация</button></td>
									</tr>
									<tr>
										<td>
											<button class="btn btn-warning" value='@item.Id' onclick="openWin('@Url.Action("EditUser", "Home", new {id = @item.Id})')">Редактировать</button>
										</td>
									</tr>
								</table> 
							</div>
						
	                  </td>
					</tr>
				}
			}

		</table>
	</div>

		<div class="col-lg-8 col-md-8 col-sm-6 col-xs-6">
			<div class="floating DataFromRoom"></div>
		</div>
	
		<p>
			@Html.PagingNavigator((int)Html.ViewData["PageNum"], (int)Html.ViewData["ItemCount"], (int)Html.ViewData["PageSize"])
		</p>


@section Scripts	{
	<script>
		$(document).ready(function () {
			$('#submit').click(function (e) {
				e.preventDefault();
				var name = $('#search').val();
				name = encodeURIComponent(name);
				if (name != "") {
					$("#main").hide();
					$('#results').load('@Url.Action("UserSearch", "Home")?name=' + name);
					$("#results").show();
				}
				else {
					$("#results").hide();
					$("#main").show();
				}
			});
		});

		function openWin(url) {
			$('.DataFromRoom').load(url);
		}
	</script>


}
