﻿@model ProjectSmartHome.Models.Device

<h3>Вы действительно желаете удалить устройство?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Название");
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
           @Html.DisplayName("Время добавления устройства")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeAddDevice)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-danger" />             
        </div>
    }
	
</div>
