﻿@model ProjectSmartHome.Models.User

	<hr />
	<dl class="dl-horizontal">
		<dt>
			@Html.DisplayName("Email")
		</dt>
		<dd>
			@Html.DisplayFor(model => model.Email);
		</dd>
		<dt>
			@Html.DisplayName("Логин")
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Login)
		</dd>

		<dt>
			@Html.DisplayName("Пароль")
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Password)
		</dd>

		<dt>
			@Html.DisplayName("Время регистрации")
		</dt>

		<dd>
			@Html.DisplayFor(model => model.TimeRegistration)
		</dd>
	</dl>



