﻿@model ProjectSmartHome.Models.Device

<div>
    <dl class="dl-horizontal">
        <dt>
           @Html.DisplayName("Название")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
		<dt>
			@Html.DisplayName("Уникальный Код")
		</dt>

		<dd>
			@Html.DisplayFor(model => model.UniqueTitle)
		</dd>

        <dt>
           @Html.DisplayName("Пользователь")
        </dt>

        <dd>
            @User.Identity.Name
        </dd>

        <dt>
           @Html.DisplayName("Время добавления")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeAddDevice)
        </dd>

    </dl>
</div>

