﻿@model IEnumerable<ProjectSmartHome.Models.OutputData>


<table class="table">
	<tr>
		<th>
			@Html.DisplayName("Температура. *С")
		</th>
		<th>
			@Html.DisplayName("Влажность, %")
		</th>
		<th>
			@Html.DisplayName("Мощность радиатора, %")
		</th>
		<th>
			@Html.DisplayName("Время")
		</th>
	</tr>

	@foreach (var item in Model)
	{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.TemperatureRoom)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.HumidityRoom)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.PowerFull)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Time)
			</td>
		</tr>
	}

</table>
