﻿@model ProjectSmartHome.Models.Period

@Scripts.Render("~/Scripts/highcharts.js")

<div>
	<div id="chart_div"></div>
	<div>
		@Html.ValidationSummary(true, "", new { @class = "text-danger" })
		<div class="form-group" >
			@Html.Label("Выберите период", htmlAttributes: new { @class = "control-label col-md-4" })
			<div class="col-md-8">
				@Html.DropDownListFor(model => model.Title , ViewBag.Period as SelectList, new { id = "period", @class = "form-control" })@*ошибка*@
			</div>
		</div>
	</div>
</div>
	
<script>

	function Draw(array, ch) {
		google.charts.load('current', { packages: ['corechart'] });
		google.charts.setOnLoadCallback(drawChart);
		function drawChart() {

			var arr = newArray(array, ch);

			var data = google.visualization.arrayToDataTable(arr);
			var options = {
				title: 'График изменения температуры',
				'width': 800,
				'height': 400,
				curveType: 'function',
				legend: { position: 'bottom' }
			};
			var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
			chart.draw(data, options);
		}
	}

	function choise(array, variant) {
		var index;

		switch (variant) {

			case '1':
				index = countDatas(array, 5);
				break;
			case '3':
				index = countDatas(array, 13);
				break;
			case '24':

				index = countDatas(array, 97);
				break;
			case '168':
				index = countDatas(array, 673);
				break;
			default:
				index = countDatas(array, 5);
				break;
		}

		return index;
	}

	function newArray(datas, index) {
		var arr = new Array();
		arr[0] = [datas[0][0], datas[0][1]];
		var k;

		if (index == datas.length) {
			k = 1;
		}
		else
			k = datas.length - index;

		for (var i = 1; k < datas.length; k++, i++) {
			arr[i] = new Array();

			for (var j = 0; j < 1; j++) {
				arr[i] = [datas[i][j], datas[i][j + 1]]
			}
		}

		return arr;
	}

	function countDatas(array, etal) {
		if (array.length > etal) {
			return etal;
		}
		else {
			return array.length;
		}
	}


	$(document).ready(function () {

		$.ajax({
			type: "GET",
			url: '@Url.Action("Draw", new {id = ViewBag.Id })',

			success:
				function (datas) {
					if (datas.length > 1) {
						Draw(datas, countDatas(datas, 5));
					}
					else {
						alert("Datas are not found");
					}

						$('#period').change(function () {
							var ident = $(this).val();
							if (datas.length > 1) {
								Draw(datas, choise(datas, ident));
							}
							else {
								alert("Datas are not found");
							}						
						});					
				}
		});
	});	
</script>

