﻿@model ProjectSmartHome.Models.Device

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
       
		

        <div class="form-group">
            @Html.LabelFor(model=>model.Title, "Название", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>

		<div class="form-group" hidden>
			@Html.HiddenFor(model => model.Id)
			@Html.HiddenFor(model=>model.UserId)
			@Html.HiddenFor(model=>model.TimeAddDevice)
			@Html.HiddenFor(model=>model.UniqueTitle)
			
		</div>
			<div class="form-group">
				<div class="col-md-offset-2 col-md-10">
					<input type="submit" value="Сохранить" class="btn btn-success" />
				</div>
			</div>
		</div>
}

@Scripts.Render("~/bundles/jqueryval")