﻿@model ProjectSmartHome.Models.User

@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()

	<div class="form-horizontal">		
		@Html.ValidationSummary(true, "", new { @class = "text-danger" })
		@Html.HiddenFor(model => model.Id)

		<div class="form-group">
			@Html.LabelFor(model=>model.Login,"Логин", htmlAttributes: new { @class = "control-label col-md-4" })
			<div class="col-md-8">
				@Html.EditorFor(model => model.Login, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.Login, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model=>model.Password,"Пароль", htmlAttributes: new { @class = "control-label col-md-4" })
			<div class="col-md-8">
				@Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model=>model.UserName, "Имя пользователя", htmlAttributes: new { @class = "control-label col-md-4" })
			<div class="col-md-8">
				@Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
			</div>
		</div>

		<div>
			@Html.HiddenFor(model => model.TimeRegistration)
		
		</div>

		<div class="form-group">
			@Html.LabelFor(model=>model.RoleId, "Роль", htmlAttributes: new { @class = "control-label col-md-4" })
			<div class="col-md-8">
				@Html.DropDownListFor(model => model.RoleId, ViewBag.Roles as SelectList, new { @class = "form-control" })<!--design-->
			</div>
		</div>

		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<input type="submit" value="Сохранить" class="btn btn-success" />
			</div>
		</div>
	</div>
}

