﻿@model ProjectSmartHome.Models.User
<div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
	@using (Html.BeginForm())
	{
		@Html.AntiForgeryToken()

		<div class="form-horizontal">
			<h4>Редактирование</h4>
			<hr />

			@Html.ValidationSummary(true, "", new { @class = "text-danger" })
			<div class="form-group">
				@Html.LabelFor(model => model.UserName, "Введите имя", htmlAttributes: new { @class = "control-label col-md-3" })
				<div class="col-md-9">
					@Html.TextBox("UserName", Model.UserName, htmlAttributes: new { @class = "form-control" })
					@Html.ValidationMessage("UserName", "", new { @class = "text-danger" })
				</div>
			</div>

			<div class="form-group">
				<div class="col-md-offset-3 col-md-9">
					<input type="submit" value="Сохранить" class="btn btn-success" />
				</div>

			</div>
		</div>
	}

	<div class="col-md-offset-3">
			<button class="btn btn-info setting" onclick="openWin('@Url.Action("ChangePassword","Home")')">Изменить пароль</button>
		
		
		
			<button class="btn btn-warning setting" onclick="openWin('@Url.Action("DetailsUser","Home",new { id = ViewBag.UserId})')">Личные данные</button>
		
		<form action="@Url.Action("Account","Home")">
			@*button - reference*@
			<button type="submit" class="btn btn-default setting">К Профилю</button>
		</form>


	</div>
</div>

<div class="col-lg-8 col-md-8 col-sm-6 col-xs-6">
	<div class="DataFromRoom"></div> @*floating плавающий блок*@
</div>
	

<!--https://habr.com/ru/post/63149/-->

@section Scripts{
	<script>
		function openWin(url) {
			$('.DataFromRoom').load(url);
		}
	</script>
}


