﻿@{
	ViewBag.Title = "Home Page";
}
<link rel="stylesheet" href="~/Content/MyStyle.css" type="text/css" />


<div class="col-lg-6 col-md-6">
	<img  src="@Url.Action("Image","Home")" /><!--https://habr.com/ru/post/63149/-->
</div>
<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
	<div>
		<h4><span>Умный дом для управления климатом.</span></h4>
	</div>
	<p>
		Как вам известно, система отопления включает в себя котел (один или несколько),
		трубопроводы и приборы отопления. Система «Умный дом» может управлять отоплением
		через регулирование работы.
	<p>
		Подключается оборудование ко входу на плате управления котла.
		Кроме комнатных термостатов, «умный дом» может управлять сервоприводами на радиаторах
		или конвекторах, включать и отключать циркуляционные насосы и так далее.
	</p>
	<p>
		Такие же возможности есть для управления кондиционерами — система может включать и отключать
		их, автоматически поддерживая комфортную для вас температуру. Возможным является
		программирование недельного и суточного графика температур во всем доме и в каждом
		отдельном помещении.
	</p>
	<p>
		В общем, возможности здесь самые широкие. Все упирается только
		в вашу фантазию и бюджет.
	</p>
</div>
