﻿@model ProjectSmartHome.Models.Command

@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()

	<div class="form-horizontal">

		@Html.ValidationSummary(true, "", new { @class = "text-danger" })
		<div class="form-group">
			@Html.LabelFor(model=>model.TypeId,"Тип Комманды", htmlAttributes: new { @class = "control-label col-md-4" })
			<div class="col-md-8">
				@Html.DropDownListFor(model => model.TypeId, ViewBag.typeCommand as SelectList, new { id = "type" , @class = "form-control" })
			</div>
		</div>

		@Html.ValidationSummary(true, "", new { @class = "text-danger" })
		<div class="form-group" id="sam">
			@Html.LabelFor(model=>model.ValueId, "Задайте температуру", htmlAttributes: new { @class = "control-label col-md-4" })
			<div class="col-md-8">
				@Html.DropDownListFor(model => model.ValueId, ViewBag.value as SelectList, new { id = "value", @class = "form-control" })
			</div>
		</div>

		<div hidden>
			@Html.HiddenFor(model => model.DeviceId)
			@Html.HiddenFor(model => model.DeviceUniqueTitle)
			@Html.TextBoxFor(model => model.CommandTime, new {@Value = ViewBag.TimeCommand })
		</div>

		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<input type="submit" value="Задать" class="btn btn-success" />
			</div>
		</div>
	</div>
	
}


	<script type="text/javascript">
		$(function () {
			$('#type').change(function () {
				$('#sam').hide();
				var id = $(this).val();
				if (id == 1) {
					$('#sam').show();
				}
				else {
					$('#sam').hide();
				}
			});
		});
	</script>

