﻿@model IEnumerable<ProjectSmartHome.Models.Command>

<table class="table">
	<tr>
		<th>
			@Html.DisplayName("Тип операции")
		</th>
		<th>
			@Html.DisplayName("Значение")
		</th>
		<th>
			@Html.DisplayName("Время создания")
		</th>


	</tr>
			
	@foreach (var item in Model)
	{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.Type.TittleCommand )
			</td>
			<td>
				@if (item.ValueId != null)
				{
					@Html.DisplayFor(modelItem => item.Value.Value )
				}
				else
				{
					@Html.Label("-") 
				}
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.CommandTime)
			</td>


		</tr>
	}

</table>


