﻿@model IEnumerable<ProjectSmartHome.Models.User>

<div>
	<table class="table">
		<tr>
			<th>
				@Html.DisplayName("Логин")
			</th>

			<th></th>
		</tr>

		@foreach (var item in Model)
		{
			if (item.Login != User.Identity.Name)
			{
				<tr>

					<td>
						@Html.DisplayFor(modelItem => item.UserName)
					</td>

					<td>
						<button class="About" value='@item.Id' onclick="openWin('@Url.Action("DetailsUser", "Home",new {id = @item.Id})')">Полная информация</button>
						<button class="Edit" value='@item.Id' onclick="openWin('@Url.Action("EditUser", "Home",new {id = @item.Id})')">Редактировать</button>
					</td>
				</tr>
			}
		}

	</table>
</div>
<div class="col-lg-6 col-sm-6">
	<div id="AboutUser"></div>
</div>

<script>
	function openWin(url) {
		$('.DataFromRoom').load(url);
	}

</script>

