﻿
@if (Request.IsAuthenticated)
{
	using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
	{
		@Html.AntiForgeryToken()

		<ul class="nav navbar-nav navbar-right">
			<li>
@using (ProjectSmartHome.Models.HomeContext db = new ProjectSmartHome.Models.HomeContext())
{
					<a   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						
							Здравствуйте, @db.Users.First(u =>  u.Login == User.Identity.Name).UserName ! 
							
					</a>
}
					<ul class="dropdown-menu dropdown-menu-right">
						<li><a class="dropdown-item" href="@Url.Action("Account","Home")">Управление Домом</a></li>
						<li><a class="dropdown-item" href="@Url.Action("EditUserName","Home")">Настройки</a></li>
						<li><a href="javascript:document.getElementById('logoutForm').submit()">Выйти</a></li>
					</ul>
			</li>
		</ul>
	}
}
else
{
	<ul class="nav navbar-nav navbar-right">
		<li>@Html.ActionLink("Регистрация", "Register", "Account")</li>
		<li>@Html.ActionLink("Вход", "Login", "Account")</li>
	</ul>
}
