﻿
p {
	text-indent: 25px; /* Отступ первой строки в пикселах */
}


[data-toggle="toggle"] {
display: none;
}

th {
	color : seagreen !important; 
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
	
	background: radial-gradient(40% 50%, #FAECD5, #CAE4D8);
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
/*Плавающий блок--*/
.floating {
 font: normal normal 14px Tahoma;
 padding: 30px;
 width: auto; /*указываем ширину*/
}
.fixed {
 /*position: fixed;*/
 top: 50px;/* здесь указываем отступ сверху*/
 /*z-index: 9999;*/ /*устанавливаем блок поверх всех элементов на странице*/
}

#aside1 tr td {
	padding:4px;
}

/*Button*/
.setting {
	margin:10px;
}
.button { 
  width: 150px;
  height: 30px;
  border-radius: 45px;  

}
.button:hover {
  box-shadow: 0 15px 20px rgba(46,229,157,.4);
  color: white;
  transform: translateY(-7px);
}
#container{
	min-width: 500px;
}

.Device {
	text-decoration: none;
  outline: none;
  display: inline-block;
  color: white;
    width: 150px;
  height: auto;
  padding: 5px 30px;
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: linear-gradient(to right, #1695f3 0%, rgb(233, 141, 12) 51%, #9EEFE1 100%);
  background-size: 200% auto;
  box-shadow: 0 0 20px rgba(0,0,0,.1);
  transition: .5s;
}
.Device:hover {background-position: right center;}
/*--------*/

.DataFromRoom {
	
}

a.Device {
	color: black;
}

/*button*/
.btn-left {
    width: 49%;
    display: block;
    float: left;
    margin: 10px 0 0 0;
}

.btn-right {
    width: 49%;
    display: block;
    float: right;
    margin: 10px 0 0 0;
}

.input-div {
  
    width: 280px;
}